*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/classes/
/buildSrc/build/
/buildSrc/build/intermediates/javac/debug/classes/
/common-lib/build/
/common-lib/build/intermediates/javac/debug/classes/
/detail/build/
/detail/build/intermediates/javac/debug/classes/
/detail-lib/build/
/detail-lib/build/intermediates/javac/debug/classes/
/list/build/
/list/build/intermediates/javac/debug/classes/
/list-lib/build/
/list-lib/build/intermediates/javac/debug/classes/
/navigation-lib/build/
/navigation-lib/build/intermediates/javac/debug/classes/
/network-lib/build/
/network-lib/build/intermediates/javac/debug/classes/